#insta {
  margin: auto;
  text-align: center;
  padding: 50px;
  font-family: 'Proxima Nova', 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
}

#form {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: gray;
margin-bottom: 0px;;
width: 70vh;
padding: 10px;
margin: 0 auto;
}

.facebook {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.data {
 border: 2px solid grey;
 border-radius: 5px;
 padding: 10px;
 margin: 5px;
}

.login {
    background-color: deepskyblue;
    height: 55px;
    border-radius: 5px;
    margin: 20px auto 0;;
    text-align: center;
    padding: 0;
    position: relative;
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.or {
    text-align: center;
    margin: -5px auto 20px;
    color: gray;
    position: relative;
    overflow: hidden;

}

.or::before,
.or::after {
    content: "";
    display: inline-block;
    width: 50%;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: 50%;
}

.or::before {
    right: 55%;
    margin-right: 15px;
}

.or::after {
    left: 55%;
    margin-left: 15px;
}

#signup {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
color: gray;}

span {
    color: blue;
}